@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$button-size: 30px;
$icon-size: 12px;

.vue-action-button {
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
  height: $button-size !important;
  line-height: $button-size !important;

  white-space: nowrap;

  &:active {
    outline: none;
    border: none;
  }
  &:focus {
    outline:0;
  }

  & > span {
    position: relative;
    display: inline-block;

    border-radius: 30px;
    // border-radius: 7px;
    border: none;
    margin: 0;
    padding: 0;

    width: $button-size;
    height: $button-size;
    
  }


  &__label {
    cursor: pointer;
    display: inline-block;
    vertical-align: text-bottom !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-left: .45rem !important;
    // font-size: 90%;
  }

  &.collapsed > .vue-action-button__label-opened,
  &:not(.collapsed) > .vue-action-button__label-closed {
    display: none;
  }

  &__icon {
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    top: calc(50% - #{$icon-size}*0.5);
    left: calc(50% - #{$icon-size}*0.5);
  }

  &--disabled {
    cursor: not-allowed;
    opacity: .3;
    .vue-action-button__label {
      cursor: not-allowed;
    }
  }

  &--pulse {
    & > span {
      -webkit-animation: fa-spin 1s 0s infinite linear !important;
      animation: fa-spin 1s 0s infinite linear !important;      
    }

    &-hover:hover {
      & > span {
        -webkit-animation: fa-spin 1s 0s infinite linear !important;
        animation: fa-spin 1s 0s infinite linear !important;
      }
    }
  }

  @each $colorName, $color in $theme-colors {
    &.vue-action-button-color--#{$colorName} {
      & > span {
        border: 4px solid lighten($color, 20%);
        background-color: $color;        
      }

      &:active {
        outline: none;
        border: none;
        & > span {
          border: 4px solid lighten($color, 20%);
        }
      }
    }
  }
}