///////////////
// Bootstrap //
///////////////
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

@import "./bootstrap";

// Breakpoints
// @include media-breakpoint-up(xs) {}
// @include media-breakpoint-up(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}

//////////
// NUXT //
//////////

// transitions
.page-enter-active, .page-leave-active {
  transition: all .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: transform .5s;
}
.slide-enter, .slide-leave-to {
  transform: translateX(-150%);
}

////////////
// Styles //
////////////
header {
  margin-bottom: 20px;
  border: 4px;
}

button {
  cursor: pointer;
}

.btn-rounded {
  border-radius: 50px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 35px;
  height: 35px;
  &-light {
    border: 2px solid $light;    
  }
  svg {
    margin-top: -2px;
  }
}

.margin-header {
  margin-top: 3.5rem;
}

.card {
  overflow: hidden;
  margin-bottom: 0.25rem;
  // &-body {
  //   overflow: hidden;
  // }
}

.cards-title {
  margin-top: 1.95rem;
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}

.vue-switcher {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
  float: left;

  &--small {
    margin-right: 0.75rem;
  }
}

.switcher-label {
  float: left;
  margin-top: 0.65rem;
}

.card-title {
  margin-top: 0.5rem;
  margin-bottom: 0;
  float: left;
}

.collapse-btn,
.external-control {
  float: right;
  margin-top: 0.25rem;
}

.action-button-title {
  float: left;
  margin-top: 0.25rem;
  color: $white;
}

@keyframes progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.card-header-progress {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  height: 2px;
  width: 100%;
  overflow: hidden;
  &::after {
    content: ' ';
    display: block;
    height: 2px;
    width: 100%;
    background-color: $white;
    transform-origin: center center;
    animation: progress 1s ease-in-out 0s infinite alternate;
  }
}
// override pulse
.fa-pulse {
  -webkit-animation: fa-spin 1s 0s infinite linear !important;
  animation: fa-spin 1s 0s infinite linear !important;
}

.card-columns .card {
  display: inline-block;
  width:100%;
}

.switch-icon {
  float: right;
  margin-top: 0.75rem;

  &__absolute {
    float: none;
    margin-top: 0;
    position: absolute;
    z-index: 1;
    top: -25px;
    right: 5px;
  }
}

.overlay {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background-color: rgba(0,0,0,0.3);
  z-index: 10;
}
.cloudstorage-storage {

  &, &_wrapper {
    position: relative;
    z-index: 1;
  }

  &_max-height {
    height: 300px;
    overflow-x: none;
    overflow-y: scroll;
  }

  &_breadcrumbs {
    font-size: 80%;
    font-weight: 400;
    padding-left: 2px;

    > div {
      position: relative;
      z-index: 1;
      margin-bottom: 2px;
      max-width: 50%;

      > span {
        transition: width 0.2s ease-out;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        padding-top: 4px;
        height: 30px;
      }
      &:first-child {
        margin-left: -2px;
        > span {
          padding-left: 6px;
        }
      }
      &:not(:last-child) {
        
        > span {
          border: 1px solid $white;
          border-right: 1px solid transparent;
          border-radius: 0 5px 5px 0;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        &:before {
          content: " ";
          position: absolute;
          z-index: 0;
          right: -7px;
          top: 3px;
          bottom: 0;
          width: 24px;
          height: 24px;
          border-left: 1px solid transparent;
          border-bottom: 1px solid transparent;
          border-top: 1px solid $white;
          border-right: 1px solid $white;
          border-radius: 5px 7px 5px 0px;
          transform: rotateZ(45deg);
          transform-origin: center center;
        }
      }

      &:not(:first-child) {
        > span {
          padding-left: 14px;
          border-left: 1px solid transparent;
          margin-left: -2px;
        }
      }

      &:last-child {
        > span {
          border: 1px solid transparent;
        }
      }
    }

    &.selectable {
      color: $success;
    }
  }

  .list-group-item {
    padding: 0.25rem !important;
    background-color: $dark !important;
    font-size: 80%;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}